.chart-container {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: block;
}
.easyPieChart {
    font-family:  'Montserrat',  sans-serif;
    position: relative;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.chart {
    display: inline-block;
    margin: 15px;
}
.percentage, .label {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: .3em;
}
.percentage span {
    font-size: 40px;
    font-weight: 400;
}
.percentage [class^=icon-] {
    font-size: 40px;
    line-height: 10px;
}
.label {
    font-family:  'Montserrat',  sans-serif;
    margin-top: 30px;
    text-align: center;
}
.credits {
    padding-top: .5em;
    clear: both;
    color: #999;
}
.credits a {
    color: #333;
}
.dark {
    background: #333;
}
.dark .percentage-light, .dark .label {
    text-align: center;
    color: #999;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: .3em;
}